.input {
	height: 100%;
	width: 80%;
	border: none;
	font-size: 1.2rem;
	color: var(--font-color);
	background-color: var(--background-color);
	padding: 0.4rem;
}

.input::placeholder {
	font-size: 1.2rem;
	color: var(--font-color);
}
@media (min-width:768px) {
	.input{
		font-size: 1.4rem;
	}
}