.buttonsBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 3rem;
	padding: 0.2rem 1rem;
	background-color: var(--background-color);
	transition: transform 0.3s;
	margin-top: 1.5rem;
	border-radius: 5px;
}
.statusButton {
	border: none;
	background-color: transparent;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1rem;
	font-weight: 700;
	color: var(--button-font-color);
	margin-right: 1rem;
	transition: color 0.3s;
	cursor: pointer;
}
.statusButton:hover {
	color: var(--button-hover-color);
}
