.addButton {
	border: none;
	background-color: transparent;
	font-size: 2rem;
	color: var(--button-font-color);
	transition: color 0.3s;
	cursor: pointer;
}
.addButton:hover {
	color: var(--button-hover-color);
}
