@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	margin: 0;
	color: #e6ddf9;
	background-color: hsl(236, 33%, 92%);
}
